<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VER PERFILES</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <h1>ENTRAMOS A VER PERFILES</h1>
    <h1>_________________________________</h1>
   
     <style>
        .demo {
            width:50%;
            height:3%;
            border:1px doble #000000;
            border-collapse:colapso;
            padding:5px, 5py;
            text-align:center;
        }
        .demo th {
            border:6px doble #000000;
            padding:5px;
            background:#0690F9;
            text-align:center;
        }
        .demo td {
            border:1px doble #000000;
            padding:5px;
            background:#B3C2FF;
            text-align:center;
        }
    </style>
    <table class="demo">
        
        <thead>
        <tr>
            <th>------------------------</th>
            <th>DATOS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>NOMBRE</td>
            <td><strong><%= Nombre %></strong></td>
        </tr>
        <tr>
            <td>EDAD</td>
            <td><strong><%= Edad %></strong></td>
        </tr>
        <tr>
            <td>CURSOS APROBADOS</td>
            <td><strong><%= CursoAP %></strong></td>
        </tr>
        <tr>
            <td>CARRERA</td>
            <td><strong><%= Carrera %></strong></td>
        </tr>
        <tr>
            <td>ESTADO</td>
            <td><strong><%= Estado %></strong></td>
        </tr>
        <tbody>
    </table>

     <a href="verperfil" class="btn-register">BACK</a>
</body>
</html>